<!-- Sidebar Modal -->
<div class="sidebar-modal">
    <div class="sidebar-modal-inner">
        <div class="sidebar-about-area">
            <div class="title">
                <h2>Sobre nós</h2>
                <p>Acreditamos que a interação da marca é fundamental na comunicação.
                    Inovações reais e uma experiência positiva do cliente são o coração de uma comunicação bem-sucedida.
                    Não existem produtos ou serviços falsos.
                    O cliente é rei, sua vida e necessidade são a nossa inspiração.</p>
            </div>
        </div>

        <!-- <div class="sidebar-instagram-feed">
            <h2>Instagram</h2>

            <ul>
                <li><a href="#"><img src="assets/img/blog-image/1.jpg" alt="image"></a></li>
                <li><a href="#"><img src="assets/img/blog-image/2.jpg" alt="image"></a></li>
                <li><a href="#"><img src="assets/img/blog-image/3.jpg" alt="image"></a></li>
                <li><a href="#"><img src="assets/img/blog-image/4.jpg" alt="image"></a></li>
                <li><a href="#"><img src="assets/img/blog-image/5.jpg" alt="image"></a></li>
                <li><a href="#"><img src="assets/img/blog-image/6.jpg" alt="image"></a></li>
                <li><a href="#"><img src="assets/img/blog-image/7.jpg" alt="image"></a></li>
                <li><a href="#"><img src="assets/img/blog-image/8.jpg" alt="image"></a></li>
            </ul>
        </div> -->

        <div class="sidebar-contact-area">
            <div class="contact-info">
                <div class="contact-info-content">
                    <h2>
                        <!-- <a href="tel:+0881306298615">+088 130 629 8615</a>
                        <span>OR</span> -->
                        <a href="mailto:oi@spacecode.com.br">oi@spacecode.io</a>
                    </h2>

                    <!-- <ul class="social">
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul> -->
                </div>
            </div>
        </div>

        <span class="close-btn sidebar-modal-close-btn"><i class="flaticon-close"></i></span>
    </div>
</div>
<!-- End Sidebar Modal -->
