body {
  font-family: Inter;
  color: #797283;
}
body p {
  font-family: Inter;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: PT Serif;
  line-height: 43px;
  color: #1e1c21;
}
body a {
  color: #8953b7;
}
body a:hover,
body a:active {
  color: #8953b7;
}
body header {
  background-color: #fdfaff;
  display: block;
  padding: 39px 0;
}
body header .logo img {
  width: 151px;
  height: 44px;
}
body header .top-menu {
  display: flex;
  justify-content: space-between;
}
body header .top-menu .get-started a {
  width: 160px;
  height: 47px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 47px;
  display: block;
  background: #8953b7;
  border-radius: 4px;
  text-align: center;
  color: #ffffff;
}
body .page-header {
  text-align: center;
  padding: 100px 0 100px 0;
  background-color: #ffffff;
  border-radius: 0px 0px 40px 40px;
}
body .page-header h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: #1e1c21;
  padding: 0 0 15px 0;
  line-height: 54px;
}
body .page-header h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
  color: #1e1c21;
  line-height: 54px;
}
body .page-header p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 34px;
}
body .page-header img {
  margin-top: 61px;
  max-width: 65%;
}
body .page-header.home {
  padding-bottom: 30px;
}
@media screen and (max-width: 719px) {
  body .page-header {
    padding-top: 1px;
    padding-bottom: 50px;
  }
  body .page-header h1,
  body .page-header h2 {
    padding-top: 0;
  }
  body .page-header img {
    max-width: 80%;
  }
}
body .features .feature__item {
  padding: 50px 0;
}
body .features .feature__item .row {
  display: flex;
  flex-wrap: wrap;
}
body .features .feature__item .row .col-6 {
  align-self: center;
}
body .features .feature__item .feature__content {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
body .features .feature__item .feature__content h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #1e1c21;
}
body .features .feature__item .feature__content p {
  font-size: 18px;
  line-height: 26px;
}
body .features .feature__item .thumbnail img {
  max-width: 100%;
}
@media screen and (max-width: 719px) {
  body .features .col-6.first {
    order: 1;
  }
  body .features .col-6 {
    order: 2;
  }
  body .features .content {
    text-align: center;
    display: block !important;
    margin: 0;
  }
  body .features h2 {
    margin-top: 10px;
  }
}
body .call-to-action {
  background-color: #8953b7;
  color: #ffffff;
  padding: 65px 0;
  border-radius: 40px 40px 0px 0px;
}
body .call-to-action .container {
  display: flex;
}
@media screen and (max-width: 719px) {
  body .call-to-action .container {
    display: block;
  }
  body .call-to-action .container .call-to-action__content {
    text-align: center;
  }
}
body .call-to-action .button {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 719px) {
  body .call-to-action .button {
    display: block;
    width: 100%;
    margin-top: 30px;
  }
}
body .call-to-action .button a {
  font-size: 18px;
  background-color: #ffffff;
  width: 184px;
  margin-left: auto;
  border-radius: 4px;
  height: 54px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  flex-direction: column;
  color: #8953b7;
}
@media screen and (max-width: 719px) {
  body .call-to-action .button a {
    margin: 0 auto;
  }
}
body .call-to-action .call-to-action__content h2 {
  font-size: 36px;
  font-family: Inter;
  font-weight: 600;
  margin: 0 0 32px;
  color: #ffffff;
}
body .call-to-action .call-to-action__content p {
  font-size: 18px;
  line-height: 32px;
}
body .content {
  line-height: 26px;
  margin: 47px 0 23px;
}
body .content p {
  margin: 0 0 16px;
}
body .content .title {
  margin: 0 0 44px;
}
body .targets {
  margin: 120px 0 0;
}
body .targets .title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 99px;
  color: #1e1c21;
}
body .targets .item {
  margin: 0 0 60px 0;
}
body .targets .item h3 {
  font-size: 18px;
  margin: 5px 0 0;
}
body .targets .item p {
  font-size: 18px;
  line-height: 26px;
}
body .bg-color {
  background-color: #fdfaff;
  padding: 52px 0;
}
body .integration-guid {
  width: 80%;
  margin: 0 auto;
  color: #1e1c21;
}
body .integration-guid h1,
body .integration-guid h2,
body .integration-guid h3,
body .integration-guid h4,
body .integration-guid h5,
body .integration-guid h6 {
  font-family: Inter;
}
body .integration-guid .title {
  text-align: center;
}
body .integration-guid .title h2 {
  font-size: 36px;
}
body .integration-guid .content h1,
body .integration-guid .content h2,
body .integration-guid .content h3,
body .integration-guid .content h4,
body .integration-guid .content h5,
body .integration-guid .content h6 {
  margin: 0;
}
body .integration-guid .content img {
  max-width: 100%;
  height: auto;
}
body footer {
  padding: 120px 0 45px;
}
@media screen and (max-width: 719px) {
  body footer {
    padding: 50px 0 45px;
  }
}
@media screen and (max-width: 719px) {
  body footer .widget__item {
    padding: 15px 0 0;
  }
}
body footer .widget__item .about {
  margin-top: 26px;
}
body footer .widget__item .about {
  font-size: 14px;
  line-height: 23px;
}
body footer .widget__item .links h4 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Inter;
  line-height: 0;
}
body footer .widget__item .links ul {
  margin: 15px 0 0 0;
}
body footer .widget__item .links ul li {
  line-height: 26px;
}
body footer .widget__item .links ul li a {
  font-size: 14px;
  color: #797283;
}
body footer .widget__item .links ul li a:hover,
body footer .widget__item .links ul li a:active {
  color: #8953b7;
}
body footer .widget__item .links .links__special {
  background-color: #8953b7;
  color: #ffffff;
  border-radius: 4px;
  padding: 2px 5px;
}
body footer .widget__item .links .links__special:hover {
  color: #ffffff;
}
body footer .widget__item .social {
  text-align: right;
}
@media screen and (max-width: 719px) {
  body footer .widget__item .social {
    text-align: center;
  }
}
body footer .widget__item .social a {
  margin-left: 20px;
}
body footer .widget__item .social a img {
  filter: contrast(0);
  transition: 0.15s;
}
body footer .widget__item .social a:hover img {
  filter: contrast(1);
}
body footer .widget__item .social a:first-child {
  margin-left: 0;
}
body footer .copyright {
  text-align: center;
  margin-top: 90px;
}
@media screen and (max-width: 719px) {
  body footer .copyright {
    margin-top: 31px;
  }
}
body footer .copyright p {
  font-size: 13px;
}
